body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-box {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 350px;
    backdrop-filter: blur(10px);
    color: #ffffff;
    text-align: center;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group label {
    display: none; /* Hide labels */
}

.form-group input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    border: none;
    position: relative;
}

.form-group input::placeholder {
    color: #dddddd;
}

.form-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: #243b55;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #dddddd;
}

.link-box {
    text-align: center;
    margin-top: 20px;
}

.link-box p {
    margin: 0;
    font-size: 14px;
}

.link-box a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s;
}

.link-box a:hover {
    color: #45a049;
}

.btn-register {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}

.btn-register:hover {
    background-color: #45a049;
}

.error {
    color: red;
    text-align: center;
}
