<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SymtoScan</title>
    <script src="https://kit.fontawesome.com/d06cb09b4c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dekko&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css')}}">
</head>
<body>
    <header>
        <h1>
            <img src="{{ url_for('static', filename='img/SymtoScanLogoPNG.png') }}" alt="SymtoScan Logo" style="height: 120px; vertical-align: middle; margin-right: 10px;">
            SymtoScan
        </h1>
    </header>
    <nav>
        <ul>
            <li><a href="/home"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a href="/about"><i class="fa-solid fa-people-group"></i> About</a></li>
            <li><a href="/diagnose"><i class="fa-solid fa-comment-medical"></i> Diagnose</a></li>
            <li><a href="/symrelief"><i class="fa-solid fa-heart-pulse"></i> Symptom Relief</a></li>
            <li><a href="/contact"><i class="fa-solid fa-phone"></i> Contact</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="hero">
            <h2>Welcome to SymtoScan</h2>
            <p>Your first step towards understanding and managing your health symptoms effectively.</p>
        </div>
        <div class="main-content">
            <h2>Our Services</h2>
            <p>At SymtoScan, we offer a range of services to help you diagnose and manage your health symptoms with ease. Explore our site to learn more about our diagnostic tools, symptom relief tips, and how we can assist you in your journey to better health.</p>
           
            <!-- Gallery Section -->
            <div class="gallery">
                <img src="https://imgs.search.brave.com/9FQ619GL2uEYd0BfAkajqax0yTPYECRJxXndYFr9Hbc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9yb2d1/ZWNvbW11bml0eWhl/YWx0aC5vcmcvd3At/Y29udGVudC91cGxv/YWRzLzIwMjQvMDIv/bWVkaWNhbC1zZXJ2/aWNlcy5qcGc" alt="Image 1">
                <img src="https://imgs.search.brave.com/y88jlevOTTOl8MOrsjaTnq6zsf5A-HMpT3zD9CEuJSA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTM2/NDA1MDEyMC9waG90/by9hcnRpZmljaWFs/LWludGVsbGlnZW5j/ZS1jaGF0Ym90LWNv/bmNlcHQuanBnP3M9/NjEyeDYxMiZ3PTAm/az0yMCZjPXU3aFhV/NGtSTE10RTcycC1Z/Wlh3UnNhQm80eVVs/c1A0X1VpYXM5UDlW/VjA9" alt="Image 2">
                <img src="https://imgs.search.brave.com/fBs6vtqIb5qk4c0bzVI_EwndONxMJdABVfUrB6GI2iA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/a29tbXVuaWNhdGUu/aW8vYXNzZXRzL3Jl/c291cmNlcy9kZXYv/aW1hZ2VzL2hvbWVw/YWdlLXJlc291cmNl/cy9tZWRpY2FsLWNo/YXRib3QtbWluLnBu/Zw" alt="Image 3">
            </div>
        </div>
    </div>
   
    <script src="script.js"></script>
    <footer>
        <p>&copy; 2024 SymtoScan. All Rights Reserved.</p>
    </footer>
    <div class="floating-button-container">
        <span class="floating-button-text">Talk to Sara</span>
        <a href="/diagnose" class="floating-button">
            <img src="{{ url_for('static', filename='img/SaraPic.jpg') }}" alt="Sara" class="floating-button-image">
        </a>
    </div>       
</body>
</html>
 