{% extends "diagnose.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/d06cb09b4c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dekko&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/diagnose.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css')}}"
    <link rel="stylesheet" href="{{ url_for('static', filename='css/diagnose.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css')}}">

</head>
<body>
    {% block Navigation%}
    <nav>
        <ul>
            
            <li><a href="/home"><i class="fa-solid fa-house"></i>Home</a></li>
            <li><a href="/about"><i class="fa-solid fa-people-group"></i>About</a></li>
            <li><a href="/diagnose"><i class="fa-solid fa-comment-medical"></i>Diagnose</a></li>
            <li><a href="/symrelief"><i class="fa-solid fa-heart-pulse"></i>Symptom Relief</a></li>
            <li><a href="/contact"><i class="fa-solid fa-phone"></i>Contact</a></li>
        </ul>
    </nav>
    {% endblock%}
</body>
</html>